<%= form_for @student_course, :url => grades_path, :html => {:method => :post} do |f| %>
  <% if @student_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_course.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @student_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, 'Student' %><br>
    <%= collection_select(:student_course, :student_id, Student.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :name, 'Course'  %><br>
    <%= collection_select(:student_course, :course_id, Course.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>

  <div class="actions">
    <%= f.submit "Post grade" %>
  </div>
<% end %>
