<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @grade.student_id %>
</p>

<p>
  <strong>Courseid:</strong>
  <%= @grade.course_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @grade.value %>
</p>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
