<% provide(:title, "Admin Home") %>

<h1>Admin Home</h1>
<p class="big_size">

<p>
  Select what you would like to do below.
</p>

<p><%= link_to "Add Admin", new_admin_path, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "Add Instructor", new_instructor_path, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "Add Student", new_student_path, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "Add Course", new_course_path, class: "btn btn-lg btn-primary" %></p>
<br />

<p><%= link_to "View Courses", courses_url, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "View Admins", admins_url, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "View Instructors", instructors_url, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "View Students", students_url, class: "btn btn-lg btn-primary" %></p>
<br />

<p><%= link_to "View all grades", grades_url, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "View enrollment requests", '/enrollmentRequests', class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "View course history", user_histories_url, class: "btn btn-lg btn-primary" %></p>