<% provide(:title, "Student Home") %>
<h1>Student Home</h1>
<p>
  This is the student home page for the <b>Class Portal</b> application.
</p>

<p><%= link_to "Search Courses", searchCourse_path, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "View Courses", courses_path, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "View Course History", "/users/#{current_user.id}/history", class: "btn btn-lg btn-primary" %></p>       
<p><%= link_to "View your grades", grades_url, class: "btn btn-lg btn-primary" %></p>


<p><%= link_to "Messages", new_message_path, class: "btn btn-lg btn-primary" %></p>
