<h1>New Message</h1>

<%= form_for @message do |f| %>

 <% if current_user.type == "Instructor" %>
       
  <div class="field" >
    <%= f.label :name, 'Student' %><br>
    <%= collection_select(:message, :receiver_id, Student.all, :id, :name) %>
  </div>
  <%end%>
  
  <% if current_user.type == "Student" %>
       
  <div class="field" >
    <%= f.label :name, 'Instructor' %><br>
    <%= collection_select(:message, :receiver_id, Instructor.all, :id, :name) %>
  </div>
  <%end%>
  
  
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  
    <%= f.submit "Send" %>
 <% end %>



<h1>Received Messages</h1>


<table class="table table-striped">
    <thead>
      <tr>
        <th>Sender</th>
        <th></th>
        
        <th>Content</th>
        </tr>
    </thead>
    
    <% @message = Message.where("receiver_id = ?", current_user.id ) %>
   
     <% @message.each do |m|%>
    <tbody>
      <tr>
              <%@user = User.find(m.sender_id) %>  
         <th><%= @user.name %></th>
        <th></th>
        
         <th><%= m.content %></th>
         </tr>
     </tbody>
            
    <% end %>
    
</table>