<% provide(:title, 'Create admin account') %>
<h1>Create admin account</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@admin) do |f| %>
      <%= render 'shared/error_messages_admin' %>
    
      <%= f.label :name %>
      <%= f.text_field :name %><br />

      <%= f.label :email %>
      <%= f.email_field :email %><br />

      <%= f.label :password %>
      <%= f.password_field :password %><br />

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br /><br />

      <%= f.submit "Create admin account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>