<% provide(:title, 'All students') %>
<h1>All students</h1>

<table class="table table-striped">
  <thead>
    <tr>

          <td>Name</td>
          <td>E-mail</td>
          <td>History</td>
          <td>Actions</td>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student %></td>
          <td><%= student.email %></td>
          <td><%= link_to "View", "/viewHistory/#{student.id}" %></td>
        <td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  
  </tbody>
</table>