<% if logged_in? && (current_user.type == "Admin" || current_user.type == "SuperAdmin") %>
  <% provide(:title, 'Create student account') %>
  <h1>Create student account</h1>
<% else %>
  <% provide(:title, 'Sign up') %>
  <h1>Sign up</h1>
<% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@student) do |f| %>
      <%= render 'shared/error_messages_student' %>
    
      <%= f.label :name %>
      <%= f.text_field :name %><br />

      <%= f.label :email %>
      <%= f.email_field :email %><br />

      <%= f.label :password %>
      <%= f.password_field :password %><br />

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br />
      
      <% if logged_in? && (current_user.type == "Admin" || current_user.type == "SuperAdmin") %>
       <%= f.submit "Create student account", class: "btn btn-primary" %>
      <% else %>
       <%= f.submit "Create my account", class: "btn btn-primary" %>
      <% end %>
     <% end %>
      
    
  </div>
</div>