<% provide(:title,"Edit-user") %>
<div class="center jumbotron">
<h2>Update your profile</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
     <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <% if @user.type == current_user.type %>
        
        <%= f.label :pasword %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        
        <%end%>
        <%= f.submit "Save Changes", class: "btn btn-primary" %>
     <% end %>
    
    </div>
    
</div>
</div>