<p id="notice"><%= notice %></p>

<h1>Grades for <%= Course.find(params[:course_id]).title%></h1>

<table>
  <thead>
    <tr>
      <% if current_user.type == "Admin" || current_user.type == "SuperAdmin" ||  current_user.type == "Instructor" %>
        <th>Student Name</th>
      <% end %>
      <th>Course Title</th>
      <th>Grade</th>
      <% if current_user.type == "Admin" || current_user.type == "SuperAdmin" ||  current_user.type == "Instructor"%>
        <th colspan="3"></th>
      <% else %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @students_courses.each do |student_course| %>
      <tr>
        <% if current_user.type == "Admin" || current_user.type == "SuperAdmin" || current_user.type == "Instructor" %>
          <td><%= Student.find(student_course.student_id).name %></td>
        <% end %>
        <td><%= Course.find(student_course.course_id).title %></td>
        <td><%= student_course.grade %></td>
        <% if current_user.type == "Admin"|| current_user.type == "SuperAdmin" %>
          <td><%= link_to 'Edit', "/student_courses/#{student_course.id}/edit" %></td>
          <td><%= link_to 'Destroy', student_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.type == "Admin" || current_user.type == "SuperAdmin" || current_user.type == "Instructor" %>
  <%= link_to 'Post a grade', new_grade_path %>
<% end %>