
<% provide(:title, 'Edit Course') %>
<h1>Edit course</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@course) do |f| %>
     
      <%= f.label :number %>
      <%= f.text_field :number %><br />

      <%= f.label :title %>
      <%= f.text_field :title %><br />

      <%= f.label :description %>
      <%= f.text_field :description %><br />
      
      <%= f.label :instructor %>
      <%= f.text_field :instructor %><br />

      <%= f.label :start_date %>
      <%= f.date_field :start_date %><br />

      <%= f.label :end_date %>
      <%= f.date_field :end_date %><br />

      <% if current_user.type == "Admin" || current_user.type == "SuperAdmin"%>

      <%= f.label :status %>
      <%= f.text_field :status %><br />

      <%end%>

      <%= f.submit "Edit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>