   
<div class="container">
        <h3>Name</h3>
           <b><%= @course.title %></b>
        <h4>Description</h4>
            <p><%= @course.description %></p>
        <h4>Instructor</h4>
            <p><%= @course.instructor %></p>

 <% if current_user.type == "Admin" || current_user.type == "SuperAdmin" || (current_user.type == "Instructor" &&  @course.instructor == current_user.name)%>
        <p><%= link_to('Edit', controller: 'courses', action:'edit', id: @course.id , class: "btn btn-lg btn-primary")  %> <p>
        <p><%= link_to "Delete", id: @course.id, method: :delete, class: "btn btn-lg btn-primary", data: { confirm: "You sure?" }  %><p>
        <p><%= link_to "View enrolled students", id: @course.id, method: :delete, class: "btn btn-lg btn-primary", data: { confirm: "You sure?" }  %><p>    
        <h3>Course Material</h3>
        <% if @course.material.blank? %>
        <p>No material added</p>
        <%else%>
        <p><%= @course.material %></p><br>
        <%end%>
        
        <%= form_for(@course) do |f| %>
        <%= f.label :material %><br>
        <%= f.text_field :material %><br><br>
        <%= f.submit "Add", class: "btn btn-primary" %>
        <%end%>
        
 <% end %>


<% if current_user.type == "Student"%>

    <h3>Course Material</h3>
        <% if @course.material.blank? %>
        <p>No material added</p>
        <%else%>
        <p><%= @course.material %></p><br>
        <%end%>

<% @student_course = StudentCourse.where("course_id = ?", @course.id).where("student_id = ?", current_user.id).first %>
<% if @student_course.blank? || !@student_course.requested %>
 <p><%= link_to('Request Enrollment',  "#{@course.id}/requestEnrollment" , class: "btn btn-lg btn-primary", data: { confirm: "Are you sure you want to request an enrollment for this course?" }) %> </p>
 <% end %>
        <% end %>
        
</div>



