<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course Number</th>
        <th>Title</th>
        <th>Instructor</th>
        <th>Status</th>
        <th>Enrollment Status</th>
    
      </tr>
    </thead>
  
  <div class="course">

    <% @course.each do |course| %>
      <% @student_course = StudentCourse.where("student_id = ?", current_user.id).where("course_id = ?", course.id).first %>
      <tr>
        <td><%= link_to(course.number,course , controller: 'courses' , action: 'show') %></td>
        <td><%= course.title %></td>
        <td><%= course.instructor %></td>
        <td><%= course.status %></td>
          <% if current_user.type == "Student"%>
          <% if !@student_course.nil? %>
            <% if @student_course.enrolled %>
              <td>Enrolled</td>
            <% elsif @student_course.requested %>
              <td>Waiting on approval</td>
            <% else %>
             <td><%= link_to 'Request enrollment', "courses/#{course.id}/requestEnrollment" %><td>
            <% end %>
          <% else %>
            <td><%= link_to 'Request enrollment', "courses/#{course.id}/requestEnrollment" %><td>
          <% end %>
        <% end %>
        </tr>

  <% end %>
</div>

</table>  

</div>