<!--<header class="navbar navbar-fixed-top navbar-inverse">-->
 <header>
  <div class="container">
  <!--  <%= link_to "Home", root_path %>-->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
 
          <!--<li><#%= link_to "Users", '#' %></li>-->
              <li><%= link_to "View Profile", current_user %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
         <% else %>
        <!--two buttons for logging in is confusing-->
          <!--<li><#%= link_to "Log in", login_path %></li>-->
        <% end %>
      </ul>
    </nav>
  </div>
</header>
